<%= content_for(:css) do %>
  <%= stylesheet_link_tag 'dropzone' %>
  <%= stylesheet_link_tag 'basic' %>

<% end %>

<%=content_for(:content) do %>
  <% if flash.notice %>
    <div class="alert alert-success"><p><%= flash.notice %></p></div>
  <% end %>
    <div class="row">
      <%= form_for :request, :url => request.base_url+'/files_upload/create', html: {id:'myForm'} do |f| %>
        <div id="mydropzone" class="dropzone center jumbotron"></div>
        <div id="msgBoard"></div>
        <br>
        <div class="btn-group btn-group-toggle, fix-some" data-toggle="buttons">
          <label class="btn btn-primary active">
            <%= f.radio_button :crypt, true, :checked => true, id: 'option1' %> Encrypt
          </label>
          <label class="btn btn-primary">
            <%= f.radio_button :crypt, false, id: 'option2' %> Decrypt
          </label>
        </div>

        <%= f.select(:cipher_value, options_for_select([['OpenSSL AES-256', '256'],
                                                        ['OpenSSL AES-192', '192'],
                                                        ['OpenSSL AES-128', '128']]),
                     class: 'btn btn-secondary dropdown-toggle')%>
        <input type='submit' value="Crypt / Decrypt" class="btn btn-info">
        </div>
      <% end %>
<% end %>

<%= content_for(:javascript) do %>
  <%= javascript_include_tag "dropzone" %>
  <script type="text/javascript">
      var AUTH_TOKEN=$('meta[name="csrf-token"]').attr('content');

      Dropzone.autoDiscover = false;
      var myDropzone = new Dropzone("div#mydropzone",{
          url: "<%= request.base_url %>/files_upload/upload",
          autoProcessQueue: false,
          uploadMultiple: true,
          addRemoveLinks:true,
          parallelUploads:10,
          params:{
              'authenticity_token':  AUTH_TOKEN
          },
          successmultiple: function(data,response){
              $('#msgBoard').append(response.message).addClass("alert alert-success");
              $('#msgBoard').delay(2000).fadeOut();
              $('#fileslist').val(response.filesList);
              $('#myForm').off('submit').submit();
          }
      });

      $('#myForm').submit(function(e){
          if(myDropzone.getQueuedFiles().length > 0){
              e.preventDefault();
              myDropzone.processQueue();
          }
      });
  </script>
<% end %>
